.chart rect {
   stroke: white;
}

/* スライダーをのせるベースを描く */
.slider {
  width:800px;
  padding:17px;
  margin-left:0;
  border-top:1px solid #333;
  border-bottom:1px solid #333;
/*
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #777), color-stop(0.5, #444), color-stop(0.501, #333), color-stop(1, #000));
*/
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
}
/* スライダーの背景を描く */
.slider input {
  -webkit-appearance:none;
  position:absolute;
  display:block;
  width:600px;
  height:46px;
  padding:3px;
  margin-top: -35px;
  margin-left:160px;
  border:0;
  border-radius:10px;
  background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0, #000), color-stop(1, #444));
  box-shadow:inset 0 2px 5px #000, 0 1px 1px rgba(255,255,255,0.5);
}
/* スライダーのボタンのベースを描く */
.slider input::-webkit-slider-thumb { 
  -webkit-appearance:none;
  position:relative;
  z-index:100;
  width:68px;
  height:46px;
  border-radius:10px;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.50, #d1d1d1), color-stop(1, #a1a1a1));
  background-repeat:no-repeat;
  background-position:50%;
  box-shadow:inset 0 -1px 1px rgba(255,255,255,0.5), inset 0 1px 0 #fff;
}
/* ボタンのアイコンを描く （@font-faceでWebSymbolsRegularを読み込んでおく） */
.slider input::-webkit-slider-thumb:before,
.slider input::-webkit-slider-thumb:after {
  position:absolute;
  display:block;
/*  content:'j';*/
  width:68px;
  padding:9px 0;
  line-height:1;
  font-size:26px;
  font-family:'WebSymbolsRegular';
  color:#848484;
  text-align:center;
}
.slider input::-webkit-slider-thumb:before {
  text-shadow:0 1px 0 rgba(255,255,255,0.9), 0 -1px 0 rgba(0,0,0,0.7);
}
.slider input::-webkit-slider-thumb:after {
  color:#fff;
  -webkit-mask-image:-webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0.3) 49%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
}
